<div class="contenedor">
    <p>Angular es una plataforma y un framework para crear aplicaciones de una sola pagina en el lado del cliente usando HTML y TypeScript.
    Angular está escirto en TypeScript. Implementa la funcionalidad básica y opcional como un conjunto de bibliotecas TypeScript que importas 
    en tus aplicaciones.</p>
    <div class="imagen">
        <img src="https://sg.com.mx/sites/default/files/styles/570x500/public/images/angular-logo.png?itok=_4hR0cNu" alt="">
    </div> 
</div>