<!-- <main>
    <section class="grid-cell first">
       <h5 class="heading-5">
          <span>01</span> PICK YOUR DESTINATION
       </h5>
       <img src="../../../assets/image-mars.png">
    </section>
    <section class="grid-cell second">
       <nav id="navbar-secondary">
          <ul>
             <li>
                <button class="nav-text">MOON</button>
             </li>
             <li>
                <button class="nav-text active  ">MARS</button>
             </li>
             <li>
                <button class="nav-text">EUROPA</button>
             </li>
             <li>
                <button class="nav-text">TITAN</button>
             </li>
          </ul>
       </nav>
       <h1 class="heading-1">MARS</h1>
       <p class="body-text">
        Don't forget to pack your hiking boots.You'll need them to tackle Olympus Mons, the tallest planetary mountain
        in our solar system. It's two and a half times the size of Everest!
       </p>
       <div id="numerical-info">
          <div>
             <h6 class="subheading-2">AVG. DISTANCE</h6>
             <h4 class="heading-4" id="distance">225 MIL KM</h4>
          </div>
          <div>
             <h6 class="subheading-2">EST. TRAVEL TIME</h6>
             <h4 class="heading-4" id="travel-time">9 MONTHS</h4>
          </div>
       </div>
    </section>
 </main> -->
 <div class="contenedor2">
    <div class="contenedorpag2">
        <h2 class="titulo"><span class="num-title">01</span> PICK YOUR DESTINATION</h2>

        <div class="main">
            <div class="image">
                <img src="../../../assets/image-mars.png" alt="">
            </div>

            <section class="descripcion">
                <nav class="menu">
                    <a href="#">Moon</a>
                    <a href="#">Mars</a>
                    <a href="#">Europa</a>
                    <a href="#">Titan</a>
                </nav>
        
                <article class="texto">
                    <h3>MARS</h3>
                    <p>Don't forget to pack your hiking boots. You'll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It's two and a half times the size of Everest!</p>
                    <footer class="detalles">
                        <div class="deta1">
                            <p class="detachico">AVG. DISTANCE</p>
                            <P class="detagrande">225 MIL. KM</P>
                        </div>
        
                        <div class="deta2">
                            <p class="detachico">EST. TRAVEL TIME</p>
                            <P class="detagrande">9 MONTHS</P>
                        </div>
                    </footer>
                </article>
        
        
        
            </section>
        </div>

    </div>
</div>